<main id="main-content" class="main-content-area">
    <section class="main-content-container">
        {% if blog %}
            <h2 class="section-title">{{ blog.name }}</h2>
        {% else %}
            <h2 class="section-title">LATEST POSTS</h2>
        {% endif %}
        <div class="articles-list">
            {% for post in posts %}
                <article class="article">
                    <header class="article-header">
                        {% if post.media_url %}
                            <img class="picture" src="{{ post.media_url }}">
                        {% endif %}
                        {% for category in post.categories.all %}
                            <a href="#" class="article-tag">{{ category.name }}</a>
                        {% endfor %}
                    </header>
                    <div class="article-content">
                        <h6 class="article-title"><a href="{% url 'post_detail' post.blog.owner.username post.id %}">{{ post.title }}</a></h6>
                        <p class="article-text">{{ post.summary }} […]</p>
                        <a href="{% url 'post_detail' post.blog.owner.username post.id %}" class="continue-link">Read more...</a>
                    </div>
                    <footer class="article-footer">
                        <div class="article-author">
                            <picture>
                                <source srcset="/dist/img/user-01-60px.jpg 60w">
                                <img class="photo" srcset="/dist/img/user-01.jpg">
                            </picture>
                            <div class="author-wrapper">
                                <a href="{% url 'user_blog' post.blog.owner.username %}">{{ post.blog.owner.first_name }} {{ post.blog.owner.last_name }} ({{ post.blog.owner.username }})</a>
                                <time class="article-date" datetime="{{ post.published_at }}">{{ post.published_at }}</time>
                            </div>
                        </div>
                        <div class="article-actions">
                            <button type="button" class="button-like" title="Me gusta" data-article-id="1">
                                <div class="button-wrapper">
                                    <i class="fa fa-thumbs-o-up fa-2x"></i>
                                    <span class="likes"></span>
                                </div>
                            </button>
                            <a title="Ir a los comentarios" class="link-comments" href="detail.html#article-comments"><span>(24)</span><i class="fa fa-commenting-o fa-2x"></i></a>
                        </div>
                    </footer>
                </article>
            {% endfor %}
        </div>
    </section>
</main>
