{% extends 'base.html' %}
{% block title %}
    Wordplease -
    {% if blog %}
        {{ blog.name }}
    {% else %}
        Latest posts
    {% endif %}
{% endblock %}
{% block content %}
    {% if blog %}
        <h2>{{ blog.name | upper }}</h2>
    {% else %}
        <h2>LATEST POSTS</h2>
    {% endif %}
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Blog</th>
                <th>Title</th>
                <th>Image</th>
                <th>Summary</th>
                <th>Status</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <a href="{% url 'user_blog' post.blog.owner.username %}" title="{{ post.blog.name }}">{{ post.blog.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'post_detail' post.blog.owner.username post.id %}" title="{{ post.title }}">{{ post.title }}</a>
                    </td>
                    <td>
                        {% if post.media_url %}
                            <img src="{{ post.media_url }}" alt="{{ post.title }}">
                        {% endif %}
                    </td>
                    <td>{{ post.summary }}</td>
                    <td>{{ post.status }}</td>
                    <td>{{ post.tagged_with }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
