{% extends 'base.html' %}
{% block title %} Wordplease - User's blogs {% endblock %}
{% block content %}
    <h2>USER'S BLOGS</h2>
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Blog</th>
                <th>Owner</th>
                <th>Full name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>
                        <a href="{% url 'user_blog' blog.author %}" title="Go to {{ blog.author }}'s blog">{{ blog.title }}</a>
                    </td>
                    <td>
                        <em>{{ blog.author }}</em>
                    </td>
                    <td>
                        {{ blog.author.first_name }} {{ blog.author.last_name }}
                    </td>
                    <td>
                        {{ blog.author.email }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
