{% extends 'base.html' %}
{% block content %}
    <h2>USER'S BLOGS</h2>
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Blog</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>
                        <em>{{ blog.username }}</em>
                    </td>
                    <td>
                        {{ blog.first_name }} {{ blog.last_name }}
                    </td>
                    <td>
                        {{ blog.email }}
                    </td>
                    <td>
                        <a href="{% url 'user_blog' blog.username %}" title="Go to {{ blog.username }}'s blog">View blog</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
