{% extends 'base.html' %}
{% block title %} Wordplease - Sign up {% endblock %}
{% block content %}
    <h2>SIGNUP</h2>

    <div style="color:red">{{ error }}</div>

    <form method="post">
        {% csrf_token %}
        <div>
            <strong>Username: </strong>
            <input type="text" id="username" name="usr">
        </div>
        <div>
            <strong>Password: </strong>
            <input type="password" id="password" name="pwd">
        </div>
        <div>
            <strong>Repeat password: </strong>
            <input type="password" id="repeat_password" name="rpt_pwd">
        </div>
        <div>
            <button>Signup</button>
        </div>
    </form>
{% endblock %}
